#listaDocumentos{
/*     background:rgba(102,187,106,1); */
    list-style:none;
    margin:0px;
    padding:0px;
    color:black;
}
#listaDocumentos li>div{
    width:100%;
    display:table;

}
#listaDocumentos li> div:hover div *{

    font-weight:600;
    color:black;

}

#listaDocumentos li:nth-child(2n +1)>div{
    background:rgb(219, 219, 219);
    /* font-weight: 600; */
}
#listaDocumentos li>div div{

    display:table-cell;
    font-size:12px;
    padding:0px 5px;

}
#listaDocumentos li>div div:nth-child(1) {
     width:23px;
    /*text-decoration: none;*/
    color:black;
}
#listaDocumentos li>div div:nth-child(1) img{
    width:16px;
    margin-top:auto;
    margin-bottom:auto;
}

#listaDocumentos li>div div:nth-child(2) a{

    text-decoration: none;
    color:black;
}

#listaDocumentos li>div div:nth-child(3){
    width:90px;

    text-align:center;
    vertical-align: middle;
}
#listaDocumentos li>div div:nth-child(4){
    width:140px;
    vertical-align: middle;
    text-align:center;

}
#listaDocumentos li>div * {
    vertical-align:middle;
}
#lstEnlacesDoc{
    list-style:none;
    margin:0px;
    padding:0px;
}
#lstEnlacesDoc li{
    color:black;
    padding:0px 5px 0px 5px

}
#lstEnlacesDoc li a{
    text-decoration:none;
    color:black;
    font-size:12px;

    width:100%;
    display:block;
}
#lstEnlacesDoc li:hover{
    font-weight:600;
}
.marcado{
    background: rgb(153, 153, 153);
     font-weight:600;
}