.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

##phpintel
.phpintel/*

##smarty
application/libraries/smarty/cache/*
application/views/compiled/*

##apprandm
temp_contingencia/*
contingencia/*
docs/_noticias/*
docs/_test/*
docs/__procesoss/_boletasig/
docs/__procesoss/_residuos/

