.loading-container {
  position:fixed;
  background-color:white;
  z-index:999999999;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  cursor:wait;
}
.la-ball-pulse {
    color: rgb(223, 2, 9);
    height: 25px;
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

}